{% extends 'website/websiteBase.html.twig' %}


{% block title %}
    Panel klienta | CarFLOw
{% endblock %}


{% block websiteBody %}
    <div style="background-color: white; padding: 50px 0;">
        <div class="container-fluid">
            Panel klienta w react
        </div>
    </div>
{% endblock %}